.root {
    -fx-padding: 20px;
}

.editor {

}

.header {
    -fx-background-color: rgba(0, 0, 0, 0.79);
    -fx-effect: innershadow(two-pass-box, black, 10, 0, 0, 0);
}

.header-label-big {
    -fx-font-size: 26pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-padding: 2px 15px;
}

.header-label-medium {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-padding: 2px 15px;
}

.header-label-small {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-padding: 1px 15px
}
